node_modules
.turbo
.next
dist
coverage
.env
.env.*
!.env.example
*.log
*.tsbuildinfo
prostor-deploy.tgz
deploy-lightbox-admin-fixes.zip
infra/ai-proxy/proxy.env
apps/web/public/uploads/*
!apps/web/public/uploads/.gitkeep

# Prisma
packages/db/prisma/dev.db
packages/db/prisma/dev.db-journal

# OS
.DS_Store
Thumbs.db